.container {
    width:30%;
    min-width: 260px;
    background: #f8f9fa;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
}
.sidebar {
    margin: 30px 0 0 20px;

}
.sidebar-link {
    font-size: 14px;
}