.url-input {
    height: 50px;
    width: 400px;
    background: #fff;
    border: 1px solid #d3d3d3;
    padding: 0 12px;

}
.input-wrapper {
    position: relative;
}


.url-error {
    position: absolute;
    color: red;
    font-size: 13px;
    top: 52px;
    left: 2px;
    margin: 0;
    padding: 0;
}