.short-btn{
    border: none;
    height: 50px;
    background: #8e2b8d;
    margin-top: 30px;
    border-radius: 0;
    color: white;
    transition: background-color 0.2s ease;
}

.short-btn:hover {
    background: #6f226e;
}




    .expiration-btn {
        height: 50px;
        width: 70%;
        background: #fff;
        border: 1px solid #d3d3d3;
        border-radius:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
    }
