.app{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 40px;
    height: 95vh;
    margin: 5px auto;
}

.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;

}




